**/*.pdf
**/*.o
TD2/Q1
TD2/TD2-sources/td2.4_mutex
TD2/TD2-sources/td2.3_storebuffer
TD2/TD2-sources/td2.2_interleavings
TD2/mutex/main_mutex
**/.vscode/settings.json
TD3/src/deps
TD3/src/main_protected_buffer
TD6/Multiplexed_UDP/src/client
TD6/Multiplexed_UDP/src/serv
TD6/TCP/src/client
TD6/TCP/src/serv
